*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.navbar-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.navbar-content li {
    margin: 0 8px;
    list-style: none;
    font-size: 18px;
}

.navbar-content li:hover {
    color: red;
    cursor: pointer;
}

.main-img {
    width: 100%;
    height: 500px;
    background-image: url(./assets/hinhnen.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#lorem {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

.about-me {
    text-align: center;
    width: 1200px;
    height: 350px;
    margin: 50px auto;
    color: rgb(163, 160, 160);
}

.about-me h1 {
    margin-bottom: 30px;
}

.about-me p {  
        font-size: 20px;
}

.contain-blog {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.contain-blog p {
    line-height: 25px;
    width: 500px;
    font-size: 20px;
    color: rgb(163, 160, 160);
    text-align: center;
    margin-left: 50px;
}

.avatar {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.contain-blog-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.contain-blog-2 p {
    line-height: 25px;
    width: 500px;
    font-size: 20px;
    color: rgb(163, 160, 160);
    text-align: center;
    margin-left: 50px;
}

.avatar2 {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.footer-blog {
    width: 100%;
    height: 150px;
    background-color: gray;
    margin-top: 80px;
    text-align: center;
    padding-top: 80px;
}

.footer-blog span {
    color: red;
}

.list-icon {
    font-size: 40px;
    margin: 40px;
}

.list-icon i:hover {
    font-size: 40px;
    cursor: pointer;
}